@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Blaka+Hollow&display=swap');
.navbar-brand{
    font-family: 'Blaka Hollow', cursive;
    font-size: 35px;
}
.nav-link{
    font-family: 'Raleway', cursive;
}