<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="./home.component.html">X-TELCO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="plans">Recharge Plans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myplans">My Plans</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="myprofile" role="button" >
              My Profile
            </a>
            <!-- <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="login">Login</a></li>
              <li><a class="dropdown-item" href="signup">Signup</a></li>
             
              <li><a class="dropdown-item" href="logout">Logout</a></li>
            </ul>
          </li> -->
          <li *ngIf="!isLogin" class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="signup">Signup</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link"  (click) = "onLogout()" style="cursor: pointer;">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="plans">BroadBand</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
