<app-navbar></app-navbar>
<section class="login-wrapper py-5">
<div class="login-inner p-5 shadow">
    <h1 class="display-4 text-center fw-bold pb-4">LOGIN</h1>
    <form >
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input type="text" class="form-control" [(ngModel)]="user.phone_no" name="phone_no" id="phoneNumber" />
        </div>
        <div class="mb-4">
          <label for="userPassword" class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.userpwd" name="userpwd" id="userPassword" />
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-dark py-2" name="user_login" (click)="doLogin(user)" >Login</button>
    </div>
      </form>
      <a routerLink="/signup">New User? Click to Signup!!</a>
</div>