<app-navbar></app-navbar>
<section class="profile-wrapper">
  <div class="container-fluid profile-header py-5">
    <div align="center">
    
      <h1 class="display-6 fw-bold text-center text-light">Abhishek Kumar</h1>
      <p class="lead text-center fw-bold text-light">
        <i class="fa fa-signal"></i>  9876799890
      </p>
    </div>
  </div>
    <div class="container py-5">
      <h1 class="display-custom fw-bold text-center pb-5">Active Plans</h1>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Validity</th>
            <th scope="col">Description</th>
            <th scope="col">Expiry</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td><span class="badge bg-primary">Rs. 399</span></td>
            <td><span class="badge bg-success">28 days</span></td>
            <td>
                Enjoy TRULY unlimited Local, STD & Roaming calls on any network, 2.5GB data per day,
                 100 National SMS/day for 28 days --Xstream App (Watch Shark Tank 2)28 days free access
                  to any 1 of the selected Xstream channels.
            </td>
            <td>7 days left</td>
        </tr>
</tbody>
</table>
    </div>
</section>

