<app-navbar></app-navbar>
<div class="container pb-5">
    <h1 class="display-4 py-5 text-center fw-bold">Recharge Plans</h1>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Price</th>
            <th scope="col">Validity</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
           <tr>
            <td><span class="badge bg-primary">Rs. 399</span></td>
            <td><span class="badge bg-success">28 days</span></td>
            <td>
                Enjoy TRULY unlimited Local, STD & Roaming calls on any network, 2.5GB data per day,
                 100 National SMS/day for 28 days --Xstream App (Watch Shark Tank 2)28 days free access
                  to any 1 of the selected Xstream channels.
            </td>
            <td>
                <button class="btn btn-outline-dark">Validity</button>
            </td>
        </tr>
</tbody>
</table>
</div>